<% layout('/layout/page') %>
<% block('title', 'Hi! bitch !')%>

<p class="lead"> Hello, <%= user? user.username: 'Guest' %></p>

<script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>

<div id="room">
    <span id="status" class="small"></span>
    <ul></ul>
    <div class="form-inline">
        <input id="msg" class="form-control" disabled="disabled" autocomplete="off" autofocus placeholder="Type message...">
        <button id="send" class="btn btn-primary" disabled="disabled">Send</button>
    </div>
</div>
<script>
    var socket = io();
    var ul = $('#room ul');
    
    function send() {
        var input = $('#msg');
        var text = input.val();

        if (text.length === 0) {
            return false;
        }
        input.val('');
        socket.emit('message', text, function (data) {
            console.log(data);
            $('<li>').text(text).appendTo(ul);
        });

        return false;
    }
    socket.on('message', function (username, data) {
        $('<li>').text(username + ' > ' + data).appendTo(ul);
    }).on('connect', function() {
        $('#status').text('Connected');
        $('#send').click(send);
        $('#send').prop('disabled', false);
        $('#msg').prop('disabled', false);
    }).on('disconnect', function() {
        $('#status').text('Disconnected');
        $('#send').off('click', send);
        $('#send').prop('disabled', true);
        $('#msg').prop('disabled', true);
    }).on('logout', function() {console.log(1231231);
        window.location.href = '/';
    }).on('leave', function(username) {
        $('<li>').text('User '+ username +' has left').appendTo(ul);
    }).on('join', function(username) {
        $('<li>').text('User '+ username +' has entered this room').appendTo(ul);
    });
</script>