<% layout('layout/page') -%>
<% block('title', "Регистрация и вход") -%>

<p>Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.</p>


<form class="form-horizontal login-form" action="/auth/login" method="POST" name="login-form">
    <div class="form-group">
        <label for="input-username" class="col-lg-2">Имя</label>
        <div class="col-lg-12">
            <input name="username" value="name" type="text" class="form-control" id="input-username" placeholder="Имя">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2">Пароль</label>
        <div class="col-lg-12">
            <input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Пароль">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Войти</button>
            <span class="help-block error alert-danger"></span>
        </div>
    </div>
</form>

<script>
    $(document.forms['login-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/login",
            data: form.serialize(),
            method: "POST",
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    form.html("Вы вошли в сайт").addClass('alert-success');
                    window.location.href = "/chat";
                },
                403: function(jqXHR) {
                    $('.error').empty();
                    $('.error').text(jqXHR.responseJSON.error);
                }
            }
        });
        return false;
    });
</script>